nav {
    margin: 10px auto 0;
    position: sticky;
    width: 310px;
    height: 50px;
    background-color: #275654;
    border-radius: 8px;
    font-size: 0;
  }
.linia{
    width: 100%;
    height: 50px;
    background-color: #275654;
    display: flex;
}
  nav a {
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    color: #B5FFE1;
    cursor: pointer;
    position: sticky;
    text-decoration: none;
  }
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #5aa08f;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #5aa08f;
}
nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #4E878C;
    background-size: cover;
}
body {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.menub{
    background-color: #275654;
}
main{
    background-image: url(bg_bggenerator_com.png);
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    float: left;
}
aside{
    background-image: url(bg_bggenerator_com\ \(1\).png);
    background-size: cover;
    height: 500px;
    width: 96%;
    display: flex;
    margin-bottom: 32px;
}
.pusta{
    height: 600px;
    width: 4%;
    background-color: #275654;
    float: left;
}
.glowny{
    width: 60%;
    height: 600px;
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    float: left;
}
.glowny2{
    width: 36%;
    height: 600px;
    margin: 15px;
    float: left;
    
}
h2{
    margin-top: 30px;
    margin-left: 50px;
    color: #5aa08f;
}
.glowny2 h2{
  margin-left: 5px;
  margin-top: 50px;
}
h1{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
    color:#143D38;
}
.projekt{
  text-align: center;
  color: #B5FFE1;
}
.exp{
  width: 60%;
  margin-top: 20px;
}
.exp2{
  width: 40%;
  margin-top: 20px;
}
.exp2 img{
  margin-left: 200px;
}
.exp img{
  width: 250px;
  height: 150px;
  border: solid #143D38 8px;
  border-radius: 6px;
  margin: 15px;
}
.exp p{
  text-align: center;
}
#dwa{
  margin-top: 30px;
  color:#143D38;
  font-size: 25px;
  text-align: center;
}
.glowny a{
    color:#143D38;
}
.glowny2 a{
  color:#143D38;
}
.glowny2 img{
    border: solid #143D38 8px;
    border-radius: 6px;
    margin-top: 40px;
    margin-left: 30px;
}
.jezyki{
    width: 50px;
    border: none;
    margin: 5px;
}
#ramka{
  border: solid #143D38 8px;
  border-radius: 6px;
  text-align: center;
  margin-left: 220px;
  margin-right: 220px;
}
#ramka2{
  border: solid #143D38 8px;
  border-radius: 6px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}